<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="user">
    <map/>
    <node name="urls">
      <map>
        <entry key="0" value="http://kinozal.tv"/>
        <entry key="1" value="http://chuviha.com"/>
        <entry key="2" value="https://aliexpress.com"/>
        <entry key="3" value="https://novaposhta.u"/>
      </map>
    </node>
  </root>
</preferences>
